* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7fff7;
    color: #222;
}

header {
    width: 100%;
    background: #0a9647;
    padding: 15px 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

.logo span {
    color: #d4ffd4;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.home-text h1 {
    font-size: 48px;
}

.home-text h1 span {
    color: #0a9647;
}

.home-text h2 {
    font-size: 28px;
    margin-top: 10px;
}

.home-img img {
    width: 320px;
    height: auto;
    border-radius: 15px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 18px;
    background: #0a9647;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.section-title {
    text-align: center;
    font-size: 36px;
    margin: 40px 0 20px 0;
    color: #0a9647;
}

.about, .contact {
    width: 80%;
    margin: auto;
    text-align: center;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 85%;
    margin: auto;
}

.skill-box {
    padding: 20px;
    background: #d2ffd7;
    border-radius: 10px;
}

.projects {
    width: 85%;
    margin: auto;
}

.project-card {
    padding: 20px;
    background: #d2ffd7;
    margin: 20px 0;
    border-radius: 10px;
}

footer {
    background: #0a9647;
    color: white;
    padding: 12px;
    text-align: center;
    margin-top: 30px;
}
